body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.error {
  color: #fff;
  padding: 20px;
  background-color: #e74c3c;
  border-radius: 5px;
  margin: 20px 0;
}

.loadMoreBtn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  width: 100%;
  font-weight: 700;
  transition: background-color 0.3s ease;
}